{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories{% endblock %}

{% block body %}
    <div class="container">
        <h1>Toutes les catégories</h1>
        <h5 class="retour" style="text-align:center"><a href="{{ path('app_index') }}">Retour à l'accueil</a></h5>
        <div class="row justify-content-center">
            {% for category in categories %}
                <div class="col-md-3 mb-4">
                    <div class="card category_card">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align:center">
                                <a href="{{ path("category_show", { categoryName: category.name }) }}">
                                    {{ loop.index }} / {{ category.name }}
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="text-center">Aucune série trouvée.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

