{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<div class="container">
<h1>Créer une nouvelle catégorie</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter une nouvelle catégorie</button>
    {{ form_end(form) }}
</div>
{% endblock %}

