{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new Episode</br>
    <a class="btn btn-link" href="{{ path('app_episode_index') }}">Back to list</a></h1>

    {{ include('episode/_form.html.twig') }}
</div>
{% endblock %}
