{% extends 'base.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}
    <h1>Create new Season</br>
    <a class="btn btn-link" href="{{ path('app_season_index') }}">Back to list</a></h1>

    {{ include('season/_form.html.twig') }}

{% endblock %}
