<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:0">
  <div class="container-fluid" style="background-color:#180844" style="padding:1rem">
    <a class="navbar-brand" href="/">            
        <img src="{{ asset('build/images/logoWildseries.png') }}" alt="Logo" width="80" height="80" class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse nav justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav justify-content-end">
        <li class="nav-item" style="padding-left:3rem">
          <a class="nav-link active" style="color:#ffffff" aria-current="page" href="{{ path('app_index') }}">Accueil</a>
        </li>
        <li class="nav-item dropdown" style="padding-left:3rem">
          <a class="nav-link dropdown-toggle" style="color:#ffffff" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catégories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/category/Action">Action</a></li>
            <li><a class="dropdown-item" href="/category/Aventure">Aventure</a></li>
            <li><a class="dropdown-item" href="/category/Animation">Animation</a></li>
            <li><a class="dropdown-item" href="/category/Dramatique">Dramatique</a></li>
            <li><a class="dropdown-item" href="/category/Fantastique">Fantastique</a></li>
            <li><a class="dropdown-item" href="/category/Historique">Historique</a></li>
            <li><a class="dropdown-item" href="/category/Horreur">Horreur</a></li>
            <li><a class="dropdown-item" href="/category/Jeunesse">Jeunesse</a></li>
            <li><a class="dropdown-item" href="/category/SF">SF</a></li>
            <li><a class="dropdown-item" href="/category/Sport">Sport</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/category">Toutes les catégories</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" style="padding-left:3rem">
          <a class="nav-link dropdown-toggle" style="color:#ffffff" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Acteurs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Acteurs français</a></li>
            <li><a class="dropdown-item" href="#">Actrices françaises</a></li>
            <li><a class="dropdown-item" href="#">Acteurs étrangers</a></li>
            <li><a class="dropdown-item" href="#">Actrices étrangères</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Tous les acteurs/actrices</a></li>
          </ul>
        </li>
        <li class="nav-item" style="padding-left:3rem">
          <a class="nav-link" style="color:#ffffff" href="#">Mes favoris</a>
        </li>
        <li class="nav-item" style="padding-left:3rem" >
          <a class="nav-link" style="color:#ffffff" href="#">Profil</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

